@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #242424;
  --green: #14504D;
  --lightgreen: #E2FFEA;
  --purple: #B5B1E5;
  font-size: 21px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.815rem;
  line-height: 95px;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  opacity: 0.9;
}

small {
  font-size: 0.8rem;
}